/********** RESET **********/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/********* FONT *********/

body {
  background-color: var(--background-color);
}

h1,
h2,
p {
  color: var(--text-color);
}

h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  font-size: 36px;
}

h2,
h3,
h4 {
  font-family: "Unbounded", sans-serif;

  font-style: normal;
  color: var(--text-color);
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 11px;
}

p,
a,
ul,
li,
dt {
  font-family: "Roboto", sans-serif;

  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--text-color);
  font-size: 11px;
  line-height: 1rem;
  text-wrap: pretty;
}

a {
  color: var(--cta-color);
}

/********* COLORS *********/

:root {
  --background-color: #0b2320;
  --text-color: #eed094;
  --section-color: #6a7b70;
  --cta-color: #bde300;
  --decoration-color: #5d64b1;
}

/******* MENU ********/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
/* BURGER */

.burger {
  display: block;

  width: 30px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--cta-color);
  margin-bottom: 5px;
  transition: 0.2s;
}

/* BURGER ANIMATION */

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* MOBILE MENU */

.menu {
  display: none;
  list-style: none;
}

nav.active .menu {
  display: block;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  height: auto;
  background-color: var(--section-color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  background: linear-gradient(to top, var(--section-color), var(--background-color));
}

nav.active .menu li {
  margin: 12px 20px;
}

.menu a {
  display: block;
  text-decoration: none;
  color: var(--cta-color);
  text-align: center;
  transition: 0.7s;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

  font-size: 1.2rem;
  border: 2px solid var(--cta-color);
  border-radius: 50px;
}

.Billerter_Burger {
  background-color: var(--cta-color);
  box-shadow: 2px 2px 10px var(--decoration-color);

  text-align: center;
  transition: 0.7s;

  border-radius: 50px;

  text-decoration: none;
}

.Billerter_Burger a {
  color: black;
}

.Billerter_Burger a:hover {
  color: var(--cta-color);
}

.menu a:hover {
  background-color: #000;
  border-color: black;
}

.Billetter {
  display: none;
}

/********** FOOTER ************/
footer img {
  width: 40px;
  height: auto;
}
.footer_grid_1-1 {
  margin: 0 0 2rem 2rem;
}

footer p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.Section_divider {
  height: 3px;
  background-color: #eed094;
  width: 100%;
  grid-column: span 2;
  margin-bottom: 1rem;
}

.Kontakt {
  margin-top: 2rem;
}
.soMe_icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/********** DESKTOP **********/
@media (min-width: 801px) {
  /********** MENU **********/

  header {
    justify-content: space-between;
  }

  .menu {
    display: flex;
    gap: 20px;
  }

  .burger {
    display: none;
  }

  .menu a {
    color: var(--cta-color);
    margin-left: 1rem;
  }

  .cart {
    width: 50px;
    margin-right: 1rem;
  }

  .Billetter {
    display: block;

    background-color: var(--cta-color);
    box-shadow: 2px 2px 10px var(--decoration-color);

    text-align: center;
    transition: 0.7s;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  .Billetter:hover {
    background-color: black;
    color: var(--cta-color);
    transition: 0.7s;
  }

  .Billerter_Burger {
    display: none;
  }

  /******* SECTION DIVIDERS ********/

  .Section_divider {
    margin-bottom: 2rem;
  }
  /******** FOOTER **********/

  .footer_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem;
  }

  footer p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .soMe_icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 50px;
    height: auto;
  }

  .Kontakt {
    justify-self: right;
    align-self: start;
    margin-top: 0;
  }

  footer img {
    width: 70px;
    height: auto;
  }

  /******** FONTS *******/

  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 24px;
  }

  p,
  a,
  ul,
  li,
  dt {
    font-size: 24px;
    line-height: 2rem;
  }
}
