---
import Layout from "../layout/Layout.astro";
---

<Layout title ="Frivillig">
   
  <img class="Background_img" src="images/Hero_img.webp" alt="" />
  <div class="Hero"></div>
<h1>Bliv frivillig</h1>
<p>Vi skal bruge en masse hjælp til at lave festival et helt nyt sted. 
    Alle på festivalen arbejder frivilligt, og vi synes, at vi har en drøm af et fællesskab. 
    Der er mange gengangere fra år og til år, og flere af  arrangørerne havde deres debut på 
    festivalen som frivillige i  afviklingen.Vi håber på at se en masse kendte ansigter, 
    men vi  har i den grad også plads til nye venner med stærke arme, hurtige  hoveder 
    og/eller varme hjerter, så tøv ikke med at melde dig til.  Billetpriserne er også steget,
     så der er kun gode grunde. Vi har brug for hjælp i dagene før, under og efter festivalen.
      En tjans består af 2x6 timer, og man får mad, gavekort til baren og festivalbillet  retur. 
      Vi holder også en frivilligfest en gang om året, ligesom man får  adgang til Impact Festival 2026.
      Samtidig er det vigtigt, at man  er bevidst om, at det stadigvæk er et arbejde, og at vi forventer en  dedikeret indsats i festivalens ånd. 
      Festivalen kan slet ikke lade sig  gøre uden frivillige, så man påtager sig et stort ansvar, 
      men til  gengæld får man uendeligt gode tider igen.Skriv en mail til frivillig@hoestmoen.dk, 
      hvis du er interesseret i at være med til at sætte dit præg på festivalen.</p>
</Layout>
