---
const { class} = Astro.props;
---

<div class={"class"}></div>

<style>
  .Cirkle_element {
    background-color: var(--section-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 40px 10px var(--section-color);
  }

  @media (min-width: 801px) {
    .Cirkle_element {
      width: 50px;
      height: 50px;
    }
  }
</style>
