---
const { title, id } = Astro.props;
import CircleElement from "./circleElement.astro";
---

<section {id}>
  <div class="Praktisk_Section">
    <div class="grid_1-1">
      <h2>{title}</h2>

      <div class="Circle">
        <CircleElement />
      </div>
    </div>
    <div class="Section_divider"></div>

    <div class="Desktop_grid">
      <div class="text reversed_text">
        <slot name="text" />
      </div>
      <div class="reversed_img">
        <slot name="image" />
      </div>
    </div>
  </div>
</section>

<style>
  /********* LAYOUT **********/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .Circle {
    justify-self: end;
    align-self: center;
  }

  section {
    margin: 0rem 1rem 3rem 1rem;
  }

  /********** SECTION DIVIDER ***********/
  .Section_divider {
    height: 2px;
    background-color: var(--text-color);
    width: 100%;
  }

  /********** DESKTOP **********/
  @media (min-width: 801px) {
    .Desktop_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .Circle {
      justify-self: end;
      align-self: center;
    }

    .reversed_img {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .reversed_text {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
</style>
